<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>showit</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>BDdriver</param-name>
		<param-value>jdbc:mysql://oraclepr.uco.es:3306/i92esmae</param-value>
	</context-param>
	<context-param>
		<param-name>BDuser</param-name>
		<param-value>i92esmae</param-value>
	</context-param>
	<context-param>
		<param-name>BDpassword</param-name>
		<param-value>bdpw2021</param-value>
	</context-param>
	<context-param>
		<param-name>RutaConsultas</param-name>
		<param-value>/files/queries/queries.properties</param-value>
	</context-param>
	<error-page>
		<exception-type>java.sql.SQLException</exception-type>
		<location>/errors/errorSQL.jsp</location>
	</error-page>

	<error-page>
		<error-code>405</error-code>
		<location>/errors/error405.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/error404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>JasperException</exception-type>
		<location>/errors/errorDefault.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.io.IOException</exception-type>
		<location>/errors/errorIO.jsp</location>
	</error-page>
	<error-page>
		<exception-type>Exception</exception-type>
		<location>/errors/errorDefault.jsp</location>
	</error-page>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errors/errorServlet.jsp</location>
	</error-page>
	<servlet>
		<servlet-name>CreateEspectaculoPuntualServlet</servlet-name>
		<servlet-class>servlet.adminMenu.CreateEspectaculoPuntualServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateEspectaculoPuntualServlet</servlet-name>
		<url-pattern>/servlet/CreateEspectaculoPuntualServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateEspectaculoTemporadaServlet</servlet-name>
		<servlet-class>servlet.adminMenu.CreateEspectaculoTemporadaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateEspectaculoTemporadaServlet</servlet-name>
		<url-pattern>/servlet/CreateEspectaculoTemporadaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FiltrarEspectaculoServlet</servlet-name>
		<servlet-class>servlet.adminMenu.FiltrarEspectaculoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FiltrarEspectaculoServlet</servlet-name>
		<url-pattern>/servlet/FiltrarEspectaculoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BorrarSesionServlet</servlet-name>
		<servlet-class>servlet.adminMenu.BorrarSesionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrarSesionServlet</servlet-name>
		<url-pattern>/servlet/BorrarSesionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateEspectaculoMultipleServlet</servlet-name>
		<servlet-class>servlet.adminMenu.CreateEspectaculoMultipleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateEspectaculoMultipleServlet</servlet-name>
		<url-pattern>/servlet/CreateEspectaculoMultipleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MostrarDatosEspectaculoServlet</servlet-name>
		<servlet-class>servlet.adminMenu.MostrarDatosEspectaculoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MostrarDatosEspectaculoServlet</servlet-name>
		<url-pattern>/servlet/MostrarDatosEspectaculoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AgregarSesionServlet</servlet-name>
		<servlet-class>servlet.adminMenu.AgregarSesionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgregarSesionServlet</servlet-name>
		<url-pattern>/servlet/AgregarSesionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CancelarEspectaculoServlet</servlet-name>
		<servlet-class>servlet.adminMenu.CancelarEspectaculoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelarEspectaculoServlet</servlet-name>
		<url-pattern>/servlet/CancelarEspectaculoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModificarSesionServlet</servlet-name>
		<servlet-class>servlet.adminMenu.ModificarSesionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificarSesionServlet</servlet-name>
		<url-pattern>/servlet/ModificarSesionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CrearCriticaServlet</servlet-name>
		<servlet-class>servlet.userMenu.CrearCriticaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearCriticaServlet</servlet-name>
		<url-pattern>/servlet/CrearCriticaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BorrarCriticaServlet</servlet-name>
		<servlet-class>servlet.userMenu.BorrarCriticaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrarCriticaServlet</servlet-name>
		<url-pattern>/servlet/BorrarCriticaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BuscarCriticasEspectaculoServlet</servlet-name>
		<servlet-class>servlet.userMenu.BuscarCriticasEspectaculoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuscarCriticasEspectaculoServlet</servlet-name>
		<url-pattern>/servlet/BuscarCriticasEspectaculoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserFiltrarEspectaculoServlet</servlet-name>
		<servlet-class>servlet.userMenu.UserFiltrarEspectaculoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFiltrarEspectaculoServlet</servlet-name>
		<url-pattern>/servlet/UserFiltrarEspectaculoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValorarCriticaServlet</servlet-name>
		<servlet-class>servlet.userMenu.ValorarCriticaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValorarCriticaServlet</servlet-name>
		<url-pattern>/servlet/ValorarCriticaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ComprarEntradaSesionServlet</servlet-name>
		<servlet-class>servlet.userMenu.ComprarEntradaSesionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComprarEntradaSesionServlet</servlet-name>
		<url-pattern>/servlet/ComprarEntradaSesionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserFiltrarSesionesServlet</servlet-name>
		<servlet-class>servlet.userMenu.UserFiltrarSesionesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFiltrarSesionesServlet</servlet-name>
		<url-pattern>/servlet/UserFiltrarSesionesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DarBajaUsuarioServlet</servlet-name>
		<servlet-class>servlet.genericMethods.DarBajaUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DarBajaUsuarioServlet</servlet-name>
		<url-pattern>/servlet/DarBajaUsuarioServlet</url-pattern>
	</servlet-mapping>
</web-app>